<%- model_class = Question -%>
<div class="page-header">
  <h1>Goals and Questions to Investigate</h1>
</div>

<p>Welcome to the Transparency Toolkit! This is a platform for collaborative
investigation and release of actionable information. It is still in the early
  stages, so please email me at shidash@shidash.com with any suggestions,
  questions, or requests.</p>

<p>If you want to, you can <%= link_to "Register", signup_path %> and
  <%= link_to "Login", signin_path %>. You can also post without an
  account.</p>

<p>To set a goal or ask a question, please type it in the box below. After
  creating a goal or asking a question, you can click the + button to extend
  the menu and add tasks. Tasks are actionable steps required to answer a
  question of achieve a goal. If you are logged in, you can find tasks that
  you can complete with your skills and time available on the Task Match page
  listed on the navigation bar above..</p>
<br />

<%= render :partial => "form", :locals => { :question => @question } %>
<br />
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Goal/Question</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
	<td>
	  <div style="float: left; width: 300px"><%= question.question %></div>
	  <div class="progress <%= color(procomplete(question)) -%>" style="width: 500px; margin: 0px; float: left;">
	    <div class="bar" style="width: <%= procomplete(question) -%>px"></div>
	  </div>
	</td>
	<td><div align="right">
	    <button type="button" style="background-color:
					 transparent; border-color: transparent; cursor:
					 default;" data-toggle="collapse"
					 data-target="#<%= question.id %>"><icon class="icon-plus"></i></button></div> </td>
      </tr>
    <tr>
      <td><div id="<%= question.id %>" class="collapse">
	  <ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
	    <li class="active"><a href="#details<%= question.id %>" data-toggle="tab">Details</a></li>
	    <li><a href="#edit<%= question.id %>" data-toggle="tab">Edit</a></li>
	    <li><a href="#history<%= question.id %>" data-toggle="tab">History</a></li>
	  </ul>
	  <div class="tab-content">
	  <div class="tab-pane active" id="details<%= question.id %>">
	  <%= question.details %><br /><br />
          <%= render :partial => "tasks/taskfull", :locals => { :question => question } %>
	  </div></div>
	  <div class="tab-pane" id="edit<%= question.id %>">
            <%= render :partial => "editform", :locals => { :question => question } %>
          </div>
	  <div class="tab-pane" id="history<%= question.id %>">
	    <%= render :partial => "history", :locals => { :question => question } %>
	  </div>
	</div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
