<%- model_class = Task -%>
<div class="page-header">
  <h1><%= @task.task %></h1>
</div>

<%= @task.description %>
<br /><br />
Skills Required: <%= @task.tag_list %>
<br />
Hours: <%= @task.time %>
<br />
<div align="right">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_task_path(@task), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              task_path(@task),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<br />

<%= render :partial => "results/result", :locals => { :task => @task } %>

