<%- model_class = Task -%>
<div class="page-header">
  <h1><%= @task.task %></h1>
</div>
<ul class="nav nav-tabs" id="tasktabs" data-tabs="tabs">
  <li class="active"><a href="#detailstask<%= @task.id %>"
			data-toggle="tab">Details</a></li>
  <li><a href="#edittask<%= @task.id %>" data-toggle="tab">Edit</a></li>
  <li><a href="#historytask<%= @task.id %>" data-toggle="tab">History</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="detailstask<%= @task.id %>">
    <%= @task.description %>
    <br /><br />
    Skills Required: <%= @task.tag_list %>
    <br />
    Hours: <%= @task.time %>
    <br />
    Allocation: <%= raw @task.tagallocations.map(&:name).map { |t| link_to t, tagallocation_path(t) }.join(', ') %>
    <br />
 </div>
 <div class="tab-pane" id="edittask<%= @task.id %>">
   <%= render :partial => "editform", :locals => { :task => @task } %>
 </div>
 <div class="tab-pane" id="historytask<%= @task.id %>">
        <%= render :partial => "history", :locals => { :task => @task } %>
 </div>
</div>
<br /><br /><br />

<%= render :partial => "results/result", :locals => { :task => @task } %>

