<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: 'Username:' %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, label: 'Confirm Password:' %>
  <%= f.input :time, label: 'Hours You Can Commit:' %>
  <%= f.input :tag_list, label: 'Skills:' %>
  <div id="register">
    <%= f.button :submit, :class => 'btn-primary btn-small' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
      user_path(@user),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default =>
      t("helpers.links.confirm",
      :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  </div>
<% end %>
