<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: 'Username:' %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, label: 'Confirm Password:' %>
  <%= f.input :time, label: 'Hours You Can Commit:' %>
  <%= f.input :tag_list, label: 'Skills:' %>
  <div id="register">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
